.navbarelement {
  position: relative;
  font-size: 14px;
}

.navbarelement::after {
  font-size: 14px;
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
